<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<div>
    <h1>Add user</h1>
</div>

<div>
    <form action="/addUser" method="post">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" value="">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" value="">
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>