<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <script th:inline="javascript">
    function hidePassword() {
      const passwordElements = document.querySelectorAll('[data-password]');
      passwordElements.forEach(function(element) {
        const password = element.getAttribute('data-password');
        element.textContent = '*'.repeat(8);
      });
    }
  </script>
</head>
<body onload="hidePassword()">
<h1>Admin Page</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}"></td>
    <td th:attr="data-password=${user.password}"></td>
  </tr>
</table>
</body>
</html>