<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<div>
  <h1>Register</h1>
</div>
<div>
  <form th:action="@{/auth/register}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" th:value="${registrationDTO.username}">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" th:value="${registrationDTO.password}">
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>